################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WOTVCalc/obj
/WOTVCalc/bin/Debug/netcoreapp3.1
